* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tarjeta-presentacion{
    background-color: rgb(248, 218, 223);
    width: 350px;
    padding: 25px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px #e0e0e0;
    margin: 40px auto;
}